/* html {
    scroll-behavior: smooth;
  } */

body{
    font-family: 'Rubik', sans-serif;
}



.navbar-brand{
    font-family: 'Indie Flower', cursive;
    font-size: 1.5rem;
}


/* The hero image */
.hero-image {
    /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/dario01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    padding-bottom: 5rem;
}
  
  /* Place text in the middle of the image */
.hero-text {
    text-align: center;
    position: absolute;
    /* top: 70%;
    left: 10%; */
    /* transform: translate(-50%, -50%); */
    color: white;
  }

  .hero-image h1{
    font-family: 'Indie Flower', cursive;
    font-size: 7rem;      
  }


  .sobremi{
      text-align: center;
      width: 80%;
  }
  
  .sobremi h1{
    text-align: center;
    font-family: 'Quicksand', sans-serif;

}

.sobremi h5{
    text-align: center;
    font-family: 'Quicksand', sans-serif;

}

  .sobremi hr{
      width: 40%;
      border-color: blue;
  }

  .sobremi row{
      width: 100%;
  }

  .centrado{
      text-align: center;
  }

  .centrado p{
      text-align: justify;
      padding-left: 2%;
      padding-right: 2%;
  }

  .historia p{
      text-align: justify;
  }